* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #b3cdd1;
  background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
  font-family: "Open Sans", sans-serif;
  color: #f7f7f7;
}

.container {
  width: 100vw;
  min-height: 100vh;
}

#main {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 100px;
  margin-bottom: 5%;
  color: #f7f7f7;
  font-family: "Pacifico", cursive;
  text-shadow: 4px 4px 1px #8489a5;
}

input[type="text"] {
  height: 50px;
  width: 100%;
  background: none;
  border: 2px solid #8489a5;
  border-radius: 10px;
  color: #f7f7f7;
  font-size: 30px;
}

input[type="text"]:focus {
  outline: none;
  border: 2px solid #b3cdd1;
}

.btn {
  height: 50px;
  width: 150px;
  background: #8489a5;
  border: none;
  border-radius: 10px;
  color: #f7f7f7;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.btn:hover {
  background: #b3cdd1;
}

#goal-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
